
@{
    ViewData["Title"] = "Flight";
    Layout = "~/Areas/DashBoard/Views/Shared/_DashBoardLayout.cshtml";
}


<style>


    .boxPadding {
        padding-left: 40px;
        padding-top: 40px;
        padding-right: 40px;
        border: 1px solid black !important;
        border-right: 0px solid black !important;
        border-top: 0px solid black !important;
        border-bottom: 0px solid black !important;
        border-color: #DCDCDC !important;
    }


    label {
        font-size: 15px !important;
        font-weight: 600 !important;
        color: #615959 !important;
    }
    .validation-error-message {
        color: #e74c3c !important;
        font-size: 14px;
    }




    #input_img {
        position: absolute;
        bottom: 2px;
        right: 5px;
        width: 24px;
        height: 24px;
    }

    @@media screen and (max-width:768px){


        .UsefulWeightColorbox{

            padding-right:0px!important;
        }

        .BoxtwoforNewRow{

            padding-top:0px!important
        }
    }
</style>

<section class="content">
    <div class="container-fluid">
        <!-- Small boxes (Stat box) -->
        <!-- Main row -->
        <div class="row">
            <!-- Left col -->
            <section class="col-lg-12">
                <!-- Custom tabs (Charts with tabs)-->


                <div class="card">
                    <div class="card-header">
                        <h3 class="card-title">
                            <b style="font-size: 30px;">
                                Flight Scheduling
                            </b>
                        </h3>

                        <div class="card-tools">
                            <button type="button" class="btn btn-tool mt-1" data-card-widget="collapse">
                                <i class="fas fa-minus"></i>
                            </button>
                           
                        </div>
                        <button id="TopToBottom" class="btn btn-outline-secondary btn-xs float-right" style="margin-top: 8px;">Add Flight Schedule</button>
                    </div><!-- /.card-header -->
                    <div class="card-body">

                        <div class="row">

                            <div class="form-group col-sm-3">
                                <label>AirCraft Type</label>
                                <select class="form-control form-control-sm selectpicker " id="ddlAircraftType"  multiple data-max-options="1">

                                    <option value="FW">FW</option>
                                    <option value="RW">RW</option>

                                </select>
                            </div>


                            <div class="form-group col-sm-3">
                                <label>From Date</label>
                                <div class="input-group">

                                    <input id="FromDate" type="text" class="form-control form-control-sm  ">
                                    <img src="https://cdn4.iconfinder.com/data/icons/36-slim-icons/87/calender.png" id="input_img" class="EtdfromImg">

                                </div>
                            </div>

                            <div class="form-group col-sm-3">
                                <label>To Date</label>
                                <div class="input-group">

                                    <input id="ToDate" type="text" class="form-control form-control-sm ">
                                    <img src="https://cdn4.iconfinder.com/data/icons/36-slim-icons/87/calender.png" id="input_img" class="EtdtoImg">

                                </div>
                            </div>


                            <div class="form-group col-sm-3">
                                <label class="d-flex">&nbsp;</label>
                                <button id="ApplyFilter" type="button" class="btn btn-success btn-sm">Apply Filter</button>
            
                                <button id="ClearFilter" type="button" class="btn btn-danger btn-sm">Clear</button>
                            </div>

                           

                        </div>

                        <div class="row">


                            <div class="col-sm-12">
                                <table id="FlightTable" class="table table-responsive  table-bordered" style=" max-height: 600px; width:100%; ">
                                    <thead>
                                        <tr>

                                            <th>ETD</th>
                                            <th>FltNumber</th>
                                            <th>Destination</th>
                                            <th>Destination2</th>
                                            <th>Status</th>
                                            <th>AirCraft</th>
                                            <th>Color</th>
                                            <th>FltRoute</th>
                                            <th>Pilot1</th>
                                            <th>Pilot2</th>
                                            <th>Pilot3</th>
                                            <th>FA1</th>
                                            <th>FA2</th>
                                            <th>FA3</th>
                                            <th>FA4</th>
                                            <th>Payload</th>
                                            <th>Fuel</th>
                                            <th>Temperature</th>
                                            <th>GateNum</th>
                                            <th>ReservedSeats</th>
                                            <th>CustCode</th>
                                            <th>UsePaxList</th>
                                            <th>FwdCargo1</th>
                                            <th>FwdCargo2</th>
                                            <th>FwdCargo3</th>
                                            <th>FwdCargo4</th>
                                            <th>AftCargo1</th>
                                            <th>AftCargo2</th>
                                            <th>AftCargo3</th>
                                            <th>AftCargo4</th>
                                            <th>AftCargo5</th>
                                            <th>AftCargo6</th>
                                            <th>FltTimeStamp</th>
                                            <th>Agent</th>
                                            <th>ClosingAgentID</th>
                                            <th>ClosingTimeStamp</th>
                                            <th>ActualDepTime</th>
                                            <th>SeatMap</th>
                                            <th>FltRemarks</th>
                                            <th>SplitGender</th>
                                            <th>SubManifestColor</th>
                                            <th>ShowRCS</th>
                                            <th>Actions</th>

                                        </tr>
                                    </thead>
                                    <tbody>
                                    </tbody>

                                </table>
                            </div>

                        </div>
                    </div><!-- /.card-body -->
                </div>



                <div class="card">
                    <div class="card-header">
                        <div class="col-md-7 d-flex align-items-baseline">
                            <label class="mr-2"> Aircraft Type:</label>
                            <div class="d-flex">

                                <select class="form-control form-control-sm selectpicker" id="ddlAircraftTypeFlightForm" >

                                    <option value="FW">FW</option>
                                    <option value="RW">RW</option>

                                </select>
                            </div>
                        </div>
                    </div>


                    <div class="card-body" id="FltFormBox">
                        <div class="row">
                            <form id="formFlight" class="row" role="form">
                                <div class="col-sm col-md-6 col-lg-6  boxPadding" style=" border-left: 0px solid black !important;">

                                    <div class="row">
                                        <div class="col-md-8">
                                            <input type="hidden" id="FltID" value="" />
                                            <div class="input-group">
                                                <label class="mr-2">ETD:</label>
                                                <input id="ETD" name="ETD" type="text" class="form-control form-control-sm ">
                                                <img src="https://cdn4.iconfinder.com/data/icons/36-slim-icons/87/calender.png" id="input_img" class="EtdImg">
                                            </div>

                                        </div>
                                    </div><!-- row end 1-->


                                    <div class="row mt-2">

                                        <div class="col-md-5 col-5 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">Flight #:</label>
                                                <input id="FlightNumber" name="FlightNumber" maxlength="5" type="text" class="form-control form-control-sm">
                                            </div>
                                        </div>

                                        <div class="col-md-5 col-6 mt-1 ">
                                            <div class="input-group">


                                                <label class="mr-1">Enable SeatMap:</label>
                                                <label>&nbsp;</label>
                                                <div class="input-group-prepend form-check-inline">
                                                    <input id="SeatMap" type="checkbox" class="form-check-input mt-n2  ">
                                                </div>

                                            </div>
                                        </div>



                                    </div><!-- row end 2 -->



                                    <div class="row mt-2">

                                        <div class="col-md-5 col-7 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">Dest 1&2:</label>
                                                <select id="Dest1" class="form-control selectpicker form-control-sm" title="Dest1" data-show-subtext="true" data-live-search="true" data-size="3">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-5 ">
                                            <div class="input-group align-items-baseline">

                                                <select id="Dest2" disabled class="form-control selectpicker form-control-sm" title="Dest2" data-show-subtext="true" data-live-search="true" data-size="3">
                                                </select>


                                            </div>
                                        </div>



                                    </div><!-- row end 3 -->





                                    <div class="row mt-2">

                                        <div class="col-md-5 col-7">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2 ">Aircraft :&nbsp;&nbsp;</label>
                                                <select id="AircraftType" class="form-control selectpicker form-control-sm " title="Aircraft" data-show-subtext="true" data-live-search="true" data-size="3">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-5 mt-1 col-5 ">
                                            <div class="input-group">


                                                <label class="mr-1">Show RCS:</label>
                                                <label>&nbsp;</label>
                                                <div class="input-group-prepend  form-check-inline">
                                                    <input id="RCS" type="checkbox" class="form-check-input  mt-n2">
                                                </div>

                                            </div>
                                        </div>



                                    </div><!-- row end 4 -->





                                    <div class="row mt-2">

                                        <div class="col-md-5 col-7 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">Flt Color:</label>
                                                <select id="FlightColor1" class="form-control selectpicker form-control-sm" data-show-subtext="true" data-live-search="true" data-size="3">
                                                    <option value="Black">Black</option>
                                                    <option value="Blue">Blue</option>
                                                    <option value="Brown">Brown</option>
                                                    <option value="Gray">Gray</option>
                                                    <option value="Green">Green</option>
                                                    <option value="Orange">Orange</option>
                                                    <option value="Pink">Pink</option>
                                                    <option value="Red">Red</option>
                                                    <option value="White">White</option>
                                                    <option value="Violet">Violet</option>
                                                    <option value="Yellow">Yellow</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-5 ">
                                            <div class="input-group align-items-baseline">

                                                <select id="FlightColor2" class="form-control selectpicker form-control-sm" data-show-subtext="true" data-live-search="true" data-size="3">
                                                    <option value="Black">Black</option>
                                                    <option value="Blue">Blue</option>
                                                    <option value="Brown">Brown</option>
                                                    <option value="Gray">Gray</option>
                                                    <option value="Green">Green</option>
                                                    <option value="Orange">Orange</option>
                                                    <option value="Pink">Pink</option>
                                                    <option value="Red">Red</option>
                                                    <option value="White">White</option>
                                                    <option value="Violet">Violet</option>
                                                    <option value="Yellow">Yellow</option>
                                                </select>


                                            </div>
                                        </div>



                                    </div><!-- row end 5 -->




                                    <div class="row mt-2">

                                        <div class="col-md-8 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-3">Route :</label>
                                                <input id="Route" type="text" class="form-control form-control-sm" style="height: 60px;" />
                                            </div>
                                        </div>



                                    </div><!-- row end 6 -->





                                    <div class="row mt-2">

                                        <div class="col-md-5 col-6 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">Manifest<br /> Colors :</label>
                                                <select id="ManifestColor1" class="form-control selectpicker form-control-sm" title="---" data-show-subtext="true" data-live-search="true" data-size="3">

                                                    <option value="BLACK">Black</option>
                                                    <option value="BLUE">Blue</option>
                                                    <option value="BROWN">Brown</option>
                                                    <option value="GRAY">Gray</option>
                                                    <option value="GREEN">Green</option>
                                                    <option value="ORANGE">Orange</option>
                                                    <option value="PINK">Pink</option>
                                                    <option value="RED">Red</option>
                                                    <option value="WHITE">White</option>
                                                    <option value="VIOLET">Violet</option>
                                                    <option value="YELLOW">Yellow</option>
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-3 ">
                                            <div class="input-group align-items-baseline">

                                                <select id="ManifestColor2" class="form-control selectpicker form-control-sm" title="---" disabled data-show-subtext="true" data-live-search="true" data-size="3">

                                                    <option value="BLACK">Black</option>
                                                    <option value="BLUE">Blue</option>
                                                    <option value="BROWN">Brown</option>
                                                    <option value="GRAY">Gray</option>
                                                    <option value="GREEN">Green</option>
                                                    <option value="ORANGE">Orange</option>
                                                    <option value="PINK">Pink</option>
                                                    <option value="RED">Red</option>
                                                    <option value="WHITE">White</option>
                                                    <option value="VIOLET">Violet</option>
                                                    <option value="YELLOW">Yellow</option>
                                                </select>


                                            </div>
                                        </div>


                                        <div class="col-md-3 col-3 ">
                                            <div class="input-group align-items-baseline">

                                                <select id="ManifestColor3" class="form-control selectpicker form-control-sm" title="---" disabled data-show-subtext="true" data-live-search="true" data-size="3">


                                                    <option value="BLACK">Black</option>
                                                    <option value="BLUE">Blue</option>
                                                    <option value="BROWN">Brown</option>
                                                    <option value="GRAY">Gray</option>
                                                    <option value="GREEN">Green</option>
                                                    <option value="ORANGE">Orange</option>
                                                    <option value="PINK">Pink</option>
                                                    <option value="RED">Red</option>
                                                    <option value="WHITE">White</option>
                                                    <option value="VIOLET">Violet</option>
                                                    <option value="YELLOW">Yellow</option>
                                                </select>


                                            </div>
                                        </div>



                                    </div><!-- row end 6 -->



                                    <div class="row mt-2">

                                        <div class="col-md-5 col-6 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">Useful WT :</label>
                                                <input id="UsefulWeight1" type="text" maxlength="4" value="0" class="form-control  form-control-sm ">
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-3">
                                            <div class="input-group align-items-baseline">

                                                <input id="UsefulWeight2" type="text" maxlength="4" value="0" disabled class="form-control  form-control-sm ">


                                            </div>
                                        </div>


                                        <div class="col-md-3 col-3 ">
                                            <div class="input-group align-items-baseline">

                                                <input id="UsefulWeight3" type="text" maxlength="4" value="0" disabled class="form-control  form-control-sm ">


                                            </div>
                                        </div>



                                    </div><!-- row end 7 -->



                                    <div class="row mt-2 UsefulWeightColorbox " style="padding-left: 67px; padding-right: 34.5px;">




                                        <div class="col-md-4 col-4 ">

                                            <select id="UsefulWeightColor1" disabled class="form-control selectpicker  form-control-sm" title="---" data-show-subtext="true" data-live-search="true" data-size="3">

                                                <option value="BLACK">Black</option>
                                                <option value="BLUE">Blue</option>
                                                <option value="BROWN">Brown</option>
                                                <option value="GRAY">Gray</option>
                                                <option value="GREEN">Green</option>
                                                <option value="ORANGE">Orange</option>
                                                <option value="PINK">Pink</option>
                                                <option value="RED">Red</option>
                                                <option value="WHITE">White</option>
                                                <option value="VIOLET">Violet</option>
                                                <option value="YELLOW">Yellow</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-4">
                                            <select id="UsefulWeightColor2" disabled class="form-control selectpicker form-control-sm" title="---" data-show-subtext="true" data-live-search="true" data-size="3">

                                                <option value="BLACK">Black</option>
                                                <option value="BLUE">Blue</option>
                                                <option value="BROWN">Brown</option>
                                                <option value="GRAY">Gray</option>
                                                <option value="GREEN">Green</option>
                                                <option value="ORANGE">Orange</option>
                                                <option value="PINK">Pink</option>
                                                <option value="RED">Red</option>
                                                <option value="WHITE">White</option>
                                                <option value="VIOLET">Violet</option>
                                                <option value="YELLOW">Yellow</option>
                                            </select>
                                        </div>
                                        <div class="col-md-4 col-4 ">
                                            <select id="UsefulWeightColor3" disabled class="form-control selectpicker form-control-sm" title="---" data-show-subtext="true" data-live-search="true" data-size="3">

                                                <option value="BLACK">Black</option>
                                                <option value="BLUE">Blue</option>
                                                <option value="BROWN">Brown</option>
                                                <option value="GRAY">Gray</option>
                                                <option value="GREEN">Green</option>
                                                <option value="ORANGE">Orange</option>
                                                <option value="PINK">Pink</option>
                                                <option value="RED">Red</option>
                                                <option value="WHITE">White</option>
                                                <option value="VIOLET">Violet</option>
                                                <option value="YELLOW">Yellow</option>
                                            </select>
                                        </div>


                                    </div><!-- row end 8 -->




                                    <div class="row mt-2">

                                        <div class="col-md-5 col-6 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">Useful WT :</label>
                                                <input id="UsefulWeightBeta1" type="text" maxlength="4" value="0" disabled class="form-control  form-control-sm ">
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-3">
                                            <div class="input-group align-items-baseline">

                                                <input id="UsefulWeightBeta2" type="text" maxlength="4" value="0" disabled class="form-control  form-control-sm ">


                                            </div>
                                        </div>


                                        <div class="col-md-3 col-3 ">
                                            <div class="input-group align-items-baseline">

                                                <input id="UsefulWeightBeta3" type="text" maxlength="4" value="0" disabled class="form-control  form-control-sm ">


                                            </div>
                                        </div>



                                    </div><!-- row end 9 -->


                                    <div class="row mt-2">

                                        <div class="col-md-8 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">Pilot1 :</label>
                                                <select id="Pilot1" class="form-control form-control-sm selectpicker" title="---" data-show-subtext="true" data-live-search="true" data-size="3">
                                                </select>
                                            </div>
                                        </div>


                                    </div><!-- row end 9 -->


                                    <div class="row mt-2">

                                        <div class="col-md-8 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">Pilot2 :</label>
                                                <select id="Pilot2" class="form-control form-control-sm selectpicker" title="---" data-show-subtext="true" data-live-search="true" data-size="3">
                                                </select>
                                            </div>
                                        </div>


                                    </div><!-- row end 9 -->




                                    <div class="row mt-2">

                                        <div class="col-md-8 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">Observer  :</label>
                                                <select id="Pilot3" class="form-control form-control-sm selectpicker" title="---" data-show-subtext="true" data-live-search="true" data-size="3">
                                                </select>
                                            </div>
                                        </div>


                                    </div><!-- row end 9 -->


                                    <div class="row mt-2">

                                        <div class="col-md-8 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">FA1 :</label>
                                                <select id="FA1" class="form-control form-control-sm selectpicker" title="---" data-show-subtext="true" data-live-search="true" data-size="3">
                                                </select>
                                            </div>
                                        </div>


                                    </div><!-- row end 9 -->


                                </div><!-- col-md-6 main col end -->



                                <div class="col-sm col-md-6 col-lg-6 boxPadding BoxtwoforNewRow">



                                   


                                    <div class="row mt-2">

                                        <div class="col-md-8 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">FA2 :</label>
                                                <select id="FA2" class="form-control form-control-sm selectpicker" title="---" data-show-subtext="true" data-live-search="true" data-size="3">
                                                </select>
                                            </div>
                                        </div>


                                    </div><!-- row end 9 -->


                                    <div class="row mt-2">

                                        <div class="col-md-6 col-6">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">Customer :</label>
                                                <select id="Customer" class="form-control selectpicker form-control-sm" title="---" data-show-subtext="true" data-live-search="true" data-size="3">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-6">
                                            <div class="input-group">
                                                <div class="form-check-inline ">
                                                    <label>Use PaxList</label>
                                                    <input id="PaxList" disabled type="checkbox" class="form-check-input ml-3 mt-n2">
                                                </div>


                                            </div>
                                        </div>

                                    </div><!-- row end 9 -->





                                    <div class="row mt-2">

                                        <div class="col-md-4 col-6">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">Fuel :</label>
                                                <input id="Fuel" type="text" class="form-control form-control-sm" maxlength="5">
                                            </div>
                                        </div>

                                        <div class="col-md-6 col-6 ">
                                            <div class="input-group align-items-baseline">
                                                <div class="form-check-inline ">
                                                    <label>Split Gender</label>
                                                    <input id="SplitGender" type="checkbox" class="form-check-input ml-2 mt-n2">
                                                </div>


                                            </div>
                                        </div>

                                    </div><!-- row end 9 -->



                                    <div class="row mt-2">

                                        <div class="col-md-5 col-6 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">Max Cargo :</label>
                                                <input id="MaxCargo" type="text" maxlength="5" class="form-control form-control-sm">
                                            </div>
                                        </div>

                                        <div class="col-md-5 col-6 ">
                                            <div class="input-group align-items-baseline">

                                                <label class="mr-2">Temperature :</label>
                                                <input id="Temperature" type="text" maxlength="5" class="form-control form-control-sm">

                                            </div>
                                        </div>

                                    </div><!-- row end 9 -->





                                    <div class="row mt-2">

                                        <div class="col-md-5 col-6 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">Rsrvd Seats :</label>
                                                <input id="RsrvdSeats" type="text" class="form-control form-control-sm" maxlength="2">
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-6">
                                            <div class="input-group align-items-baseline">

                                                <label class="mr-2">Gate# :</label>
                                                <input id="GateNumber" type="text" class="form-control form-control-sm" maxlength="2">

                                            </div>
                                        </div>

                                    </div><!-- row end 9 -->




                                    <div class="row mt-2">


                                        <div class="col-md-12 d-flex">

                                            <div class="d-flex align-items-baseline">
                                                <label class="mr-2 ">Frt + Bag:</label>
                                                <input id="Frt" type="number" class="form-control form-control-sm " style="width:50px;">
                                            </div>



                                            <div class="d-flex align-items-baseline">

                                                <label class="mr-2 ml-2">+</label>
                                                <input id="Bag" type="number" class="form-control form-control-sm  " style="width:50px;">

                                            </div>


                                            <div class="d-flex  align-items-baseline">

                                                <label class="mr-2  ml-2">=</label>
                                                <input id="FrtBagTotal" type="number" class="form-control form-control-sm  " style="width:50px;">

                                            </div>


                                        </div>



                                    </div><!-- row end 9 -->




                                    <div class="row mt-2">

                                        <div class="col-md-5 col-8 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-1">FWD Cargo 1:</label>
                                                <input id="FWDcargo1" type="text" class="form-control form-control-sm" maxlength="4">
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-4 ">
                                            <div class="input-group align-items-baseline">

                                                <label class="mr-1">2:</label>
                                                <input id="FWDcargo2" type="text" class="form-control form-control-sm" maxlength="4">

                                            </div>
                                        </div>

                                    </div><!-- row end 9 -->


                                    <div class="row mt-2">

                                        <div class="col-md-5 col-8 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-1">FWD Cargo 3:</label>
                                                <input id="FWDcargo3" type="text" class="form-control form-control-sm" maxlength="4">
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-4">
                                            <div class="input-group align-items-baseline">

                                                <label class="mr-1">4:</label>

                                                <input id="FWDcargo4" type="text" class="form-control form-control-sm" maxlength="4">

                                            </div>
                                        </div>

                                    </div><!-- row end 9 -->


                                    <div class="row mt-2">

                                        <div class="col-md-5 col-8 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">AFT Cargo 1:</label>
                                                <input id="AFTcargo1" type="text" class="form-control form-control-sm" maxlength="4">
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-4 ">
                                            <div class="input-group align-items-baseline">

                                                <label class="mr-1">2:</label>

                                                <input id="AFTcargo2" type="text" class="form-control form-control-sm" maxlength="4">

                                            </div>
                                        </div>

                                    </div><!-- row end 9 -->


                                    <div class="row mt-2">

                                        <div class="col-md-5 col-8">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">AFT Cargo 3:</label>
                                                <input id="AFTcargo3" type="text" class="form-control form-control-sm" maxlength="4">
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-4 ">
                                            <div class="input-group align-items-baseline">

                                                <label class="mr-1">4:</label>
                                                <input id="AFTcargo4" type="text" class="form-control form-control-sm" maxlength="4">

                                            </div>
                                        </div>

                                    </div><!-- row end 9 -->



                                    <div class="row mt-2">

                                        <div class="col-md-5 col-8 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2">AFT Cargo 5:</label>
                                                <input id="AFTcargo5" type="text" class="form-control form-control-sm" maxlength="4">
                                            </div>
                                        </div>

                                        <div class="col-md-3 col-4 ">
                                            <div class="input-group align-items-baseline">

                                                <label class="mr-1">6:</label>
                                                <input id="AFTcargo6" type="text" class="form-control form-control-sm" maxlength="4">

                                            </div>
                                        </div>

                                    </div><!-- row end 9 -->



                                    <div class="row mt-2">

                                        <div class="col-md-8 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2"> Status:&nbsp;&nbsp;</label>
                                                <select id="FlightStatus" class="form-control selectpicker form-control-sm" data-show-subtext="true" data-live-search="true" data-size="3">

                                                    <option value="O">Open</option>
                                                    <option value="I">Check-In</option>
                                                    <option value="C">Closed</option>
                                                    <option value="X">Cancelled</option>
                                                </select>
                                            </div>
                                        </div>



                                    </div><!-- row end 9 -->




                                    <div class="row mt-2">

                                        <div class="col-md-4 col-7">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-3"> Agent:</label>
                                                <select id="Agent" class="form-control form-control-sm" data-show-subtext="true" data-live-search="true" data-size="3">
                                                </select>
                                            </div>
                                        </div>

                                        <div class="col-md-4 col-5">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2"> ATD:</label>
                                                <input id="ATD" type="text" maxlength="4" class="form-control form-control-sm">
                                            </div>
                                        </div>



                                    </div><!-- row end 9 -->


                                    <div class="row mt-2">

                                        <div class="col-md-8 ">
                                            <div class="input-group align-items-baseline">
                                                <label class="mr-2"> Remarks:</label>
                                                <input id="Remarks" type="text" class="form-control form-control-sm" style="height:50px" />
                                            </div>
                                        </div>





                                    </div><!-- row end 9 -->



                                </div>


                                    </form>
                        </div>

                        <div class=" d-flex justify-content-end">
                            <button id="Save" type="button"   class="btn btn-sm btn-info mt-sm-1 mt-2 mr-2">Save</button>
                            <button id="Edit" type="button"  style="display:none"  class="btn btn-sm btn-success mt-sm-1 mt-2 mr-2">Update</button>
                            <button id="Clear" type="button"  style="display:block"  class="btn btn-sm btn-danger mt-sm-1 mt-2 mr-2">Clear</button>
                        </div>
                    </div><!-- /.card-body -->
                </div>
                    <!-- /.card -->
</section>

        </div>
        <!-- /.row (main row) -->
    </div><!-- /.container-fluid -->
</section>



<script type="text/x-handlebars" id="temp_DropDownaircraft">
    {{#each this}}
    <option value="{{aircraftID}}" Afthold={{aftCargoHold}} FWhold="{{fwdCargoHold}}">{{acReg}}</option>
    {{/each}}

</script>
<script type="text/x-handlebars" id="temp_DropDowndest1">

    {{#each this}}
    <option value="{{destID}}" route="{{destICAO}}">{{destICAO}} &nbsp;| &nbsp; {{destIATA}} &nbsp;| &nbsp; {{destName}}</option>
    {{/each}}

</script>
<script type="text/x-handlebars" id="temp_DropDowndest2">

    {{#each this}}
    <option value="{{destID}}"route2="{{destICAO}}" >{{destICAO}} &nbsp;| &nbsp; {{destIATA}} &nbsp;| &nbsp; {{destName}}</option>
    {{/each}}

</script>
<script type="text/x-handlebars" id="temp_DropDownpilot1">

    {{#each this}}
    <option value="{{pilotID}}">{{pilotSurname}}&nbsp;  |&nbsp;  {{pilotName}} &nbsp;| &nbsp; {{pilotEmpNum}}   </option>
    {{/each}}
</script>

<script type="text/x-handlebars" id="temp_DropDownFA1">

    {{#each this}}
    <option value="{{staffID}}">{{staffName}}&nbsp;|&nbsp;{{staffSurname}}&nbsp;|&nbsp;{{empNum}}</option>
    {{/each}}
</script>

<script type="text/x-handlebars" id="temp_DropDownAgent">

    {{#each this}}
    <option value="{{staffID}}">{{staffName}}&nbsp;|&nbsp;{{staffSurname}}</option>
    {{/each}}
</script>


<script type="text/x-handlebars" id="temp_DropDowncustomer">
    {{#each this}}
    <option value="{{custID}}" usepaxlist="{{usePaxList}}">{{custCode}}&nbsp;|&nbsp;{{custName}}</option>
    {{/each}}
</script>


<script src="https://cdn.jsdelivr.net/jquery.validation/1.15.0/jquery.validate.min.js"></script>
<script src='~/js/FlightSchedule.js'></script>
<script src="~/js/AdditionMethod.js"></script>


